@model Passionproject2.Models.Customer
@{
    ViewBag.Title = "New";
}

<h2>New Order</h2>

<div class="navbar">
    <a class="navlink" href="/Order/List">Back to List</a>
</div>
<div>
    <div class="col2">
        <form method="post" action="/Order/Add">
            <div class="inpfield"><span>Order Item:</span><input type="text" name="OrderItem" id="OrderItem" /></div>
            <div class="inpfield"><span>Order Date(mm/dd/yyyy):</span><input type="text" name="OrderDate" id="OrderDate" /></div>
            <div class="inpfield"><span>:</span>Ordered item Quentity<input type="text" name="OrderItemQty" id="OrderItemQty" /></div>
            <div class="inpfield"><span>Order Cost $:</span><input type="text" name="OrderCost" id="OrderCost" /></div>

          
           <select id="CustomerID" type="text" name="CustomerID">
             @{
             //A rendering loop for presenting a list of customers
          
             foreach (var customer in Model)
             {
                 <option value="@customer.CustomerID">@customer.CustomerName</option>

             }
             }
            </select>
            <input type="submit" value="Add Order" />
        </form>
    </div>
    <div class="col2last"></div>
    <div style="clear:both;"></div>
</div>