@model List<Passionproject2.Models.Customer>
@{
    ViewBag.Title = "New";

}

<h2>Add a new Customer</h2>

<div class="navbar">
    <a class="navlink" href="/Customer/List">Back to List</a>
</div>
<form method="POST" action="/Customer/Add">

    <div class="inpfield"><span> CustomerName :</span><input id="CustomerName" type="text" name="CustomerName" /></div>
    <div class="inpfield"><span>Emailid:</span><input id="Emailid" type="text" name="Emailid" /></div>
    <div class="inpfield"><span>Phone:</span><input id="Phone" type="text" name="Phone" /></div>
    <div class="inpfield"><span>CustomerAddress:</span><input id="CustomerAddress" type="text" name="CustomerAddress" /></div>

</form>


    <div class="inpfield">
        <input type="submit" value="Add Customer">
    </div>
